body{
    background-color: #ECA;
}

article, .entry-content, header {
    background-color: lightgoldenrodyellow;
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;
}

article {
    display: block;
}

nav {
    font-size: 120%;
    min-height: 80px;
    line-height: 30px;
    margin: 0 3% 2em 3%;
    padding: 0;
    text-align: center;
    border-radius: 5px;
}

nav div{
    background: maroon;
    display: inline-table;
    vertical-align: top;
    border-radius: 15px;
    padding: 0 0 5px 0;
}

nav ul {
    list-style: none;
}

nav div#menu {
    width: 74%;
}

nav div#downloads {
    width: 24%;
}

nav li {
    float: left;
    display: inline;
    margin: 0;
}

nav a:link, nav a:visited {
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 5px 15px;
    text-decoration: none;
}

nav a:hover, nav a:active,
nav .active a:link, nav .active a:visited {
    background: #C74451;
    color: #fff;
    text-shadow: none !important;
}

footer.post-info {
    display: block;
    font-size: 70%;
    border: 1px solid black;
    border-radius: 0.5ex;
    padding: 0.5ex;
    float: left;
    width: 120px;
    margin-top: 2ex;
    margin-right: 4ex;
    background-color: ivory;
    opacity: 0.6;
}

footer.post-info time{
    display: block;
}

h1 {

    border: 1px dotted darkred;
    border-radius: 0.2em;
    padding: 0.2em;
    background-color: bisque;
    color: #330000;
    text-align: center;
    font-size: 300%;
    width:85%;
}

h2 {

    border: 1px dotted darkred;
    border-radius: 0.2em;
    padding: 0.2em;
    background-color: bisque;
    color: #330000;
    width:85%;

}

h3 {

    border: 1px dotted darkred;
    border-radius: 0.2em;
    padding: 0.2em;
    background-color: bisque;
    color: #330000;
    width:85%;

}

a {

    font-weight: bold;
    color: #805;
    text-decoration: none;
    border-bottom: 1px solid blue;

}

dt {

    font-family: "Times New Roman",Georgia,Serif;
    color: #993300;
    font-weight: bold;
    font-size: 120%;

}

code {

    font-family: "Courier New",Courier,monospace;
    color: #993300;
    font-weight: bold;

}

tt {
    font-family: "Courier New",Courier,monospace;
    color: #dd3300;
    font-weight: bold;
}

pre {
    font-family: "Courier New",Courier,monospace;
    color: #993300;
    font-weight: bold;
    background: lightyellow;
    padding: 0.5em;
    border: 1px #993300 solid;
    border-radius: 0.5em;
    display: block;
    width: 800px;
    overflow-x: auto;
}

blockquote{
    background-color: #ffffdd;
    padding: 1em;
    border: 1px solid darkred;
    border-radius: 0.8em;
    box-shadow: 12px 12px 2px 1px #e9967a28;
}

div p.title{
    color: darksalmon;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tr:first-child td:first-child  {
    border-radius: 4px 4px 0 0;
}

tr:last-child td:last-child  {
    border-radius: 0 0 4px 4px;
}

thead td, th {
border: solid 1px wheat !important;
}

table th, td {
    border: solid 1px black;
}

tbody tr:nth-child(odd) {
    background: goldenrod;
}

tbody tr:nth-child(even) {
    background: gold;
}

thead tr {
    background: #080808;
    color: wheat;
}

.mini {
    font-size: 70%;
}

.multicol {
    display: grid;
    border: 1px solid darkred;
    padding: 1px;
    background: bisque;
    z-index:10;
    position: relative;
}

.trois {
    grid-template-columns:  200px 200px 200px;
    width: 600px;
}

.quatre {
    grid-template-columns:  200px 200px 200px 200px;
    width: 800px;
}


.col1 {
    grid-column: 1;
}
.col2 {
    grid-column: 2;
}
.col3 {
    grid-column: 3;
}
.col4 {
    grid-column: 4;
}

.alink {
    width: 190px;
    margin: 5px auto;
    border: 1px solid darkred;
    background: lightyellow;
}

.titre-grid {
    border: 1px solid darkred;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    padding: 10px;
    background: bisque;
}

#images-gz {
    position: relative;
    width: 70px;
    margin: 0px;
}

#images-gz li {
    cursor: pointer;
    display: block;
    margin: 0 5px;
    background: #f6834f;
    border: 1px solid darkred;
    border-radius: 20px;
    padding: 0 5px;
    position: relative;
    z-index: 0;
    width: 150px;
    left: -27px;
    font-size: 90%;
}


#images-gz li.selected {
    background: bisque;
    left: -47px;
    font-size: 140%;
    font-weight: bold;
}


.alink a {
    border-bottom: none;
}

.alink a span{
    border-bottom: 1px solid blue;
}

.centerlink {
    margin: auto;
    width: 120px;
}

.entry-title:hover{
    font-size: 160%;
}

article header{
    min-height: 90px;
}
