/* style CSS pour les tables des matières */

div#tdm {
    position: fixed;
    width: 150px;
    top: 20px;
    background: rgba(255,255,255,0); /* 100% transparent */
}

div#tdm h1 {
    font-size: 18px;
    font-weight: bold;
    background: maroon;
    color: white;
}

div#tdm ul {
    height: 200px;
    overflow-y: auto;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

div#tdm.ouvert {
    right: 20px;
}

div#tdm.ferme {
    right: -100px;
    opacity: 0.5;
}

div#tdm li {
    font-size: 70%;
    background: rgba(255,255,240,0.9);
    padding: 0 0.5em;
    border-radius: 0.5em;
    border: peachpuff 1px solid;
    margin: 2px 0;
}

div.clickToWrap,  div.clickToUnWrap{
    border: 1px solid navy;
    background: orange;
    font-size:small;
    font-weight:lighter;
    float:left;
}

div#tdm h1 {
    font-size: 20px;
    font-weight: bold;
}

