<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <link rel="icon" href="/img/jumping-gnu.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" />
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
	<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" />
	<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/tdm.css" />
	<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery/jquery.js"></script>
	<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/titres.js"></script>
	<script type="text/javascript">
	  window.onload=function(){dynShow();}
	</script>
        {% endblock head %}
</head>

<body id="index" class="home">
  <header id="banner" class="body">
    <h1>
      <a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a>
    </h1>
  </header><!-- /#banner -->
  <nav>
    {% if DISPLAY_CATEGORIES_ON_MENU %}
    <div id="menu">
      <ul class="categories">
	{% for cat, null in categories %}
	{% if cat != 'INDEX' %}
	<li class="{% if cat == category %}active {% endif %}mini"
	    title="Pages de la catégorie {{ cat }}"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	{% endif %}
	{% endfor %}
	<!-- <li class="telechargements"><a href="/freeduc-usb/freeduc-jbart/index.fr.html">Téléchargements</a></li> -->
	<script type="text/javascript">
	  $("#menu li").each(function(k,v){
	      if($(v).text() == "Téléchargement") $(v).attr("class", "telechargements");
	  });
	</script>
      </ul>
    </div>
    {% endif %}
  </nav><!-- /#menu -->
  {% block content %}
  <a id="tom"/>
  {% endblock %}
  {% block footer %}
  <footer id="contentinfo" class="body">
    <address id="about" class="vcard body">
      Proudly powered by
      <a href="http://getpelican.com/">Pelican</a>,
      which takes great advantage of
      <a href="http://python.org">Python</a>.
    </address><!-- /#about -->
  </footer><!-- /#contentinfo -->
  {% endblock %}
</body>
</html>
